
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" 用户自定义配置（该文件放一般性配置，可覆盖~/.vimrc里的配置，若要增加、卸载插件，请放入~/.vimrc.custom.plugins）
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

" 开启相对行号
" set relativenumber  

" 开启鼠标
" set mouse=a

" 设置光标所在列高亮
" set cursorcolumn

" indentLine 开启代码对齐线
" let g:indentLine_enabled = 1

" markdown
" let system = system('uname -s')
" if system == "Darwin\n"
"     let g:mkdp_path_to_chrome = "/Applications/Google\\ Chrome.app/Contents/MacOS/Google\\ Chrome"
" else
"     let g:mkdp_path_to_chrome = '/usr/bin/google-chrome-stable %U'
" endif
" nmap <silent> <F7> <Plug>MarkdownPreview
" imap <silent> <F7> <Plug>MarkdownPreview
" nmap <silent> <F8> <Plug>StopMarkdownPreview
" imap <silent> <F8> <Plug>StopMarkdownPreview

" Doxygen
" let g:DoxygenToolkit_authorName="chxuan, 787280310@qq.com"
" let s:licenseTag = "Copyright(C)\<enter>"
" let s:licenseTag = s:licenseTag . "For free\<enter>"
" let s:licenseTag = s:licenseTag . "All right reserved\<enter>"
" let g:DoxygenToolkit_licenseTag = s:licenseTag
" let g:DoxygenToolkit_briefTag_funcName="yes"
" let g:doxygen_enhanced_color=1
" let g:DoxygenToolkit_commentType="Qt"

set expandtab            " 将制表符扩展为空格

" youcompleteme 卡顿
" set timeoutlen=1 ttimeoutlen=0
let g:syntastic_ignore_files=[".*\.py$"]

let g:tagbar_width = 45

" fzf
nnoremap <leader>fo :Files<CR>
nnoremap <leader>fif :Rg<CR>

let NERDTreeWinSize=45
" Nerdtree config for wildignore
set wildignore+=*.pyc,*.o,*.obj,*.svn,*.swp,*.class,*.hg,*.DS_Store,*.min.*,*.su
let NERDTreeRespectWildIgnore=1
nnoremap <leader>q :NERDTreeFind<CR>

" vim-bookmarks
highlight BookmarkSign ctermbg=NONE ctermfg=160
highlight BookmarkLine ctermbg=194 ctermfg=NONE
let g:bookmark_sign = '♥'
let g:bookmark_highlight_lines = 1

"""""""""""""""""""""""""""新文件标题 """""""""""""""""""""""""""
"新建.c,.h,.sh,.java文件，自动插入文件头 
autocmd BufNewFile * exec ":call SetTitle()" 
""定义函数SetTitle，自动插入文件头 
func SetTitle()
    "如果文件类型为.sh文件 
    if &filetype == 'sh' 
        call setline(1,"#!/bin/bash") 
        call append(line("."),"############################") 
        call append(line(".")+1, "# File Name: ".expand("%"))
        call append(line(".")+2, "# Author : pengfei")
        call append(line(".")+4, "# Email:pengfei.liu@anker.com")
        call append(line(".")+6, "# Created Time: ".strftime("%c"))
        call append(line(".")+7, "#########################")
        call append(line(".")+8, "")

    elseif &filetype == 'python'
        call setline(1,"#!/usr/bin/env python")
        call append(line("."),"############################")
        call append(line(".")+1, "# File Name: ".expand("%"))
        call append(line(".")+2, "# Author : pengfei")
        call append(line(".")+3, "# Email:pengfei.liu@anker.com")
        call append(line(".")+4, "# Created Time: ".strftime("%c"))
        call append(line(".")+5, "#########################")
        call append(line(".")+6, "")

    else
        call setline(1, "/*#################################################") 
        call append(line("."),   "# File Name: ".expand("%")) 
        call append(line(".")+1, "# File Name: ".expand("%"))
        call append(line(".")+2, "# Author : pengfei")
        call append(line(".")+3, "# Email:pengfei.liu@anker.com")
        call append(line(".")+4, "# Created Time: ".strftime("%c"))
        call append(line(".")+5, " #################################################**/") 
        call append(line(".")+6, "")

    endif

    if &filetype == 'cpp'
        " call append(line(".")+7, "#include")
        call append(line(".")+8, "using namespace std;")
        call append(line(".")+9, "")
    endif
    if &filetype == 'c'
        " call append(line(".")+7, "#include")
        call append(line(".")+8, "")
    endif
    "新建文件后，自动定位到文件末尾
endfunc
autocmd BufNewFile * normal G

